
img{
    max-width: 100%;
    
    
    }
    
    .gallery img{
    background-color: azure;
    padding: 15px;
    width: 100%;
    box-shadow: 1 1 20px  rgba(0,0,0,0.4) ;
    cursor: pointer;
    
    }
    
    
    
    .gallery{
    background-color: rgb(207, 213, 230);
    padding: 80px 0;
    
    
    }
    
    
    #gallery-modal .modal-img{
    width: 800px;
    height: 550px;
    
    
    }
    