*{
    margin: 0;
    padding: 0;
    }
    
    
    
    .card-body1{
    background-color: rgb(197, 189, 207);
    
    
    }
    
    .container-fluid{
    background-color:white;
    height: 608px;
    margin-top: -48px;
    }
    
    .card{
    margin-top: 50px;
    
    
    }